<template>
    
    <!-- Settings popup -->
    <template if:true={openSettings}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={handleClosePopup}>
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">{Label.LBL_Close}</span>
                    </button>
                    <div class="slds-modal__title slds-hyphenate">
                        <lightning-icon icon-name="utility:settings" variant="info" size="small"
                            class="slds-m-right_x-small">
                        </lightning-icon>
                        Mass Update Delete Settings
                    </div>
                    <!--h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Modal header</h2-->
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <p>
                        <lightning-input class="batchSize" type="number" name="input1" value={batchSize} max="200"
                            min="1" label="Enter Scope Size (the size of scope in each batch)"></lightning-input>
                    </p>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral"
                        onclick={handleClosePopup}>{Label.LBL_Cancel}</button>
                    <button class="slds-button slds-button_brand" onclick={handleChangeBatchSize}>Continue</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- NOTIFICATION (NO FILTER ADDED) -->
    <template if:true={noFilterWarning}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={handleClosePopup}>
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">{Label.LBL_Close}</span>
                    </button>
                    <div class="slds-modal__title slds-hyphenate">
                        <lightning-icon icon-name="utility:warning" variant="warning" size="small"
                            class="slds-m-right_x-small">
                        </lightning-icon>
                        {Label.LBL_NoFilter}
                    </div>
                    <!--h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Modal header</h2-->
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <p> {Label.MSG_No_Filter} </p>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral"
                        onclick={handleClosePopup}>{Label.LBL_Cancel}</button>
                    <button class="slds-button slds-button_brand" onclick={handleExecuteWithoutFilter}>Continue</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- CONFIRMATION POPUP -->
    <template if:true={confirmationRequest}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={handleClosePopup}>
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">{Label.LBL_Close}</span>
                    </button>
                    <div class="slds-modal__title slds-hyphenate">
                        <!-- <lightning-icon icon-name="utility:warning" variant="warning" size="small"
                            class="slds-m-right_x-small">
                        </lightning-icon> -->
                        Confirm
                    </div>
                    <!--h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Modal header</h2-->
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <p> Are you sure you want to {massOption} ( {massRecordsLength} records )</p>
                    <p> Current batch size is : {batchSize}</p>
                    <p> To modify move to the settings button 
                         <lightning-icon icon-name="utility:settings" size="xx-small" class="slds-m-left_small" title="Settings"></lightning-icon>
                    </p>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral"
                        onclick={handleClosePopup}>{Label.LBL_Cancel}</button>
                    <button class="slds-button slds-button_brand" onclick={executeUpdateDeleteRecords}>Continue</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={loading}>
        <lightning-spinner size="medium" variant="brand" if:true={loading}>
        </lightning-spinner>
    </template>
    <!--HEADER HEAD-->
    <div class="header slds-page-header slds-page-header_record-home">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-opportunity">
                            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span> </span>
                                    <span class="slds-page-header__title slds-truncate"
                                        title={Label.LBL_MassUpdateDelete}>{Label.LBL_MassUpdateDelete}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <lightning-button-icon onclick={handleOpenSettings} icon-name="utility:settings" size="medium"
                        alternative-text="Settings" class="slds-m-left_xx-small">
                    </lightning-button-icon>
                    <button class="slds-button slds-button_neutral slds-m-left_xx-small combobox"
                        onclick={handleCancelPage}>{Label.LBL_Cancel}</button>
                    <button class="slds-button slds-button_brand"
                        onclick={handleExecuteUpdateDelete}>{Label.LBL_Execute}</button>
                </div>
            </div>
        </div>
        <!--OBJECT SELECT-->
        <div class="slds-page-header__detail-row slds-grid">
            <lightning-combobox class="slds-p-right_medium" name="Object" label="Database Operation" options={options}
                value={massOption} onchange={handleChangeMassOption}>
            </lightning-combobox>
            <lightning-combobox class="slds-size--1-of-3" name="Object" label={Label.LBL_Object} placeholder=""
                options={objectList} onchange={handleObjectSelected} style="z-index: 3 !important;">
            </lightning-combobox>
            <!-- <c-multi-select-combo-box ></c-multi-select-combo-box> -->
            <!-- <c-multi-select-combo-box multiselect=true label="test" onfilterdata={handleFilterSuppliers}>
                                            </c-multi-select-combo-box> -->
        </div>
    </div>
    <div class=" slds-grid slds-grid_vertical">
        <div class="tableContainer slds-col slds-grid slds-m-top_small">
            <!-- FILTER ON RECORDS (SCOPE TO DELETE/UPDATE) -->
            <div class=" slds-card ">
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <span>Filter Section</span>
                                <span class="slds-badge slds-m-left_small">{massRecordsLength} Records</span>
                            </h2>
                        </div>
                    </header>
                </div>
                <div class="slds-card__body">
                    <div class="slds-grid slds-m-bottom_small">
                        <div class="slds-form-element slds-col slds-p-left_small">
                            <lightning-combobox class='FieldName combobox' name={Label.LBL_Object_Fields}
                                label={Label.LBL_Object_Fields} placeholder="" onchange={handleFieldSelected}
                                options={fieldsList}>
                            </lightning-combobox>
                        </div>
                        <div class="slds-form-element slds-p-left_small slds-col">
                            <lightning-combobox style="min-width:6rem;" class='Operator combobox' name={Label.LBL_Operator}
                                label={Label.LBL_Operator} placeholder="" options={Operators}>
                            </lightning-combobox>
                        </div>
                        <div class="slds-form-element slds-col slds-p-left_small">
                            <!-- -->
                            <div class="slds-form-element__control">
                                <div if:true={fieldSelected}>
                                    <div if:false={fieldSelected.isRecordType}> 
                                        <lightning-record-edit-form object-api-name={object} layout-type="Compact">
                                            <lightning-input-field variant="standard" if:true={fieldSelected.isUpdateable}
                                                field-name={fieldSelected.value} class='Value'>
                                            </lightning-input-field>
                                        </lightning-record-edit-form>
                                    </div>
                                    <lightning-combobox label="RecordType" if:true={fieldSelected.isRecordType} options={recordTypeList} class="Value"></lightning-combobox>
                                    <label if:false={fieldSelected.isUpdateable}
                                        class="slds-form-element__label">{fieldSelected.value}</label>
                                    <template if:false={fieldSelected.isUpdateable}>
                                        <lightning-input if:true={fieldSelected.isText} type="text" class="Value"></lightning-input>
                                        <lightning-input if:true={fieldSelected.isNumber} type="number" class="Value" ></lightning-input>
                                        <lightning-input if:true={fieldSelected.isBoolean} type="checkbox" class="Value"></lightning-input>
                                        <lightning-input if:true={fieldSelected.isDate} type="date" class="Value"></lightning-input>
                                        <lightning-input if:true={fieldSelected.isDateTime} type="datetime" class="Value" ></lightning-input>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <lightning-button-icon class="slds-m-top_large slds-float--right slds-p-horizontal_medium"
                            icon-name="utility:add" variant="brand" onclick={handleAddCriteria}
                            alternative-text={Label.LBL_Add}></lightning-button-icon>
                    </div>
                    <div class="slds-scrollable slds-grow" style="height: 25vh">
                        <div class="slds-scrollable_none">
                            <table aria-multiselectable="true"
                                class="slds-table slds-no-row-hover slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols"
                                role="grid">
                                <thead class="slds-table--col-bordered">
                                    <tr class="slds-line-height_reset">
                                        <th aria-label="Object Field" aria-sort="none"
                                            class="slds-is-resizable slds-is-sortable" scope="col">
                                            <div
                                                class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                <span class="slds-truncate slds-m-around_xx-small" title="Product Code">
                                                    {Label.LBL_Object_Fields} </span>
                                            </div>
                                        </th>

                                        <th aria-label="Operator" aria-sort="none"
                                            class="slds-is-resizable slds-is-sortable" scope="col">
                                            <div
                                                class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                <span class="slds-truncate slds-m-around_xx-small"
                                                    title={Label.LBL_Operator}>
                                                    {Label.LBL_Operator} </span>
                                            </div>
                                        </th>
                                        <th aria-label={Label.LBL_Value} aria-sort="none"
                                            class="slds-is-resizable slds-is-sortable" scope="col">
                                            <div
                                                class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                <span class="slds-truncate slds-m-around_xx-small"
                                                    title={Label.LBL_Value}>
                                                    {Label.LBL_Value} </span>
                                            </div>
                                        </th>
                                        <th class="" scope="col" style="width:4.5rem"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template for:each={criteriaList} for:item="item" for:index="i">
                                        <tr if:false={item.inEdit} key={item.FieldName} data-item={i}
                                            aria-selected="false" class="slds-hint-parent">
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={item.FieldName}>{item.FieldName}</div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={item.Operator}>
                                                    {item.DisplayedOperator}</div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={item.Value}>{item.DisplayedValue}
                                                </div>
                                            </td>
                                            <td class="slds-text-align_right" role="gridcell" tabindex="0">
                                                <lightning-button-icon data-item={i} onclick={handleDeleteCriteria}
                                                    icon-name="utility:delete" size="small" alternative-text="Delete"
                                                    class="slds-m-left_xx-small"></lightning-button-icon>
                                                <lightning-button-icon data-item={i} disabled={editMode}
                                                    onclick={handleEditClick} icon-name="utility:edit" size="small"
                                                    alternative-text="Delete" class="slds-m-left_xx-small">
                                                </lightning-button-icon>
                                            </td>
                                        </tr>
                                        <!--CASE OF LINE CRITERIA EDIT-->
                                        <tr if:true={item.inEdit} key={item.FieldName} data-item={i}
                                            aria-selected="false" class="slds-hint-parent">
                                            <td role="gridcell">
                                                <div class="slds-form-element__control">
                                                    <div class="slds-select_container">
                                                        <select class="FieldNameInner slds-select"
                                                            onchange={handleInnerFieldSelected} data-field={i}>
                                                            <option value={item.FieldName}>{item.FieldName}</option>
                                                            <template for:each={fieldsList} for:item="item2">
                                                                <option if:false={item2.selected} key={item2.value}
                                                                    value={item2.value}>
                                                                    {item2.label}
                                                                </option>
                                                            </template>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-form-element__control">
                                                    <div class="slds-select_container">
                                                        <select class="slds-select OperatorInner" data-operator={i}>
                                                            <option value={item.Operator}>{item.DisplayedOperator}
                                                            </option>
                                                            <template for:each={operatorsInner} for:item="item2">
                                                                <option key={item2.value} value={item2.value}
                                                                    label={item2.label}>{item2.label}</option>
                                                            </template>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-form-element__control">
                                                    <input type="text" class="slds-input ValueInner"
                                                        value={item.DisplayedValue} />
                                                </div>
                                            </td>
                                            <td class="slds-text-align_right" role="gridcell" tabindex="0">
                                                <lightning-button-icon data-item={i} onclick={handleConfirmEdit}
                                                    icon-name="utility:check" size="small" alternative-text="Confirm"
                                                    class="slds-m-left_xx-small"></lightning-button-icon>
                                                <lightning-button-icon data-item={i} onclick={handleCancelEdit}
                                                    icon-name="utility:close" size="small" alternative-text="Cancel"
                                                    class="slds-m-left_xx-small"></lightning-button-icon>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div if:false={updateSection} class="slds-col slds-hidden" style="height : 25vh"></div>
            <!-- UPDATE FIELDS OF RECORDS -->
            <div if:true={updateSection} class="slds-col slds-m-left_small">
                <div class="slds-card" style="margin:0">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title slds-p-bottom_small">
                                    <span>Update Section</span>
                                </h2>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body">
                        <!--input field to update-->
                        <div class="slds-grid slds-m-bottom_small slds-m-horizontal_small">
                            <div class="slds-form-element slds-col slds-m-right_small">
                                <lightning-combobox class='UpdatedFieldName' name={Label.LBL_Object_Fields}
                                    label={Label.LBL_Object_Fields} placeholder=""
                                    onchange={handleFieldToUpdateSelected} options={updatableFieldsList}
                                    style="z-index: 0 !important;">
                                </lightning-combobox>
                            </div>
                            <div class="slds-form-element slds-col  slds-m-right_small">
                                <div class="slds-form-element__control">
                                    <div if:true={fieldToUpdateSelected}>
                                        <div if:false={fieldToUpdateSelected.isRecordType}>
                                            <lightning-record-edit-form object-api-name={object}>
                                                <lightning-input-field if:true={fieldToUpdateSelected.isUpdateable}
                                                    field-name={fieldToUpdateSelected.value} class='UpdatedValue'>
                                                </lightning-input-field>
                                            </lightning-record-edit-form>
                                        </div>
                                        <lightning-combobox label="RecordType" if:true={fieldToUpdateSelected.isRecordType} options={recordTypeList} class="UpdatedValue"></lightning-combobox>
                                        <label if:false={fieldToUpdateSelected.isUpdateable}
                                            class="slds-form-element__label">{fieldToUpdateSelected.value}</label>
                                        <input if:false={fieldToUpdateSelected.isUpdateable} type="text"
                                            class="slds-input UpdatedValue" />
                                    </div>
                                    <!--<input type="text" class="slds-input UpdatedValue" />-->
                                </div>
                            </div>
                            <lightning-button-icon class="slds-m-top_large slds-float--right " icon-name="utility:add"
                                variant="brand" onclick={handleAddFieldUpdate} alternative-text={Label.LBL_Add}>
                            </lightning-button-icon>
                        </div>
                        <!--Display to update field-->
                        <div class="slds-scrollable slds-grow" style="height : 25vh">
                            <div class="slds-scrollable_none">
                                <table aria-multiselectable="true"
                                    class="slds-table slds-no-row-hover slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols"
                                    role="grid">
                                    <thead class="slds-table--col-bordered">
                                        <tr class="slds-line-height_reset">
                                            <th aria-label="Object Field" aria-sort="none"
                                                class="slds-is-resizable slds-is-sortable" scope="col">
                                                <div
                                                    class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-truncate slds-m-around_xx-small"
                                                        title="Product Code">{Label.LBL_Object_Fields}</span>
                                                </div>
                                            </th>
                                            <th aria-label="Value" aria-sort="none"
                                                class="slds-is-resizable slds-is-sortable" scope="col">
                                                <div
                                                    class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-truncate slds-m-around_xx-small"
                                                        title="Product Family">{Label.LBL_Value}</span>
                                                </div>
                                            </th>
                                            <th class="" scope="col" style="width:7rem"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template for:each={fieldsToUpdate} for:item="item" for:index="i">
                                            <tr if:false={item.inEdit} key={item.fieldName} data-item={i}
                                                aria-selected="false" class="slds-hint-parent">
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title={item.fieldName}>{item.fieldName}
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title={item.value}>{item.displayedValue}
                                                    </div>
                                                </td>
                                                <td class="slds-text-align_right" role="gridcell" tabindex="0">
                                                    <lightning-button-icon data-item={i}
                                                        onclick={handleDeleteFieldUpdate} icon-name="utility:delete"
                                                        size="small" alternative-text="Confirm"
                                                        class="slds-m-left_xx-small"></lightning-button-icon>
                                                    <lightning-button-icon data-item={i} disabled={editMode}
                                                        onclick={handleEditFieldUpdateClick} icon-name="utility:edit"
                                                        size="small" alternative-text="Cancel"
                                                        class="slds-m-left_xx-small">
                                                    </lightning-button-icon>
                                                </td>
                                            </tr>
                                            <!--CASE OF LINE FIELD UPDATE EDIT-->
                                            <tr if:true={item.inEdit} key={item.fieldName} data-item={i}
                                                aria-selected="false" class="slds-hint-parent">
                                                <td role="gridcell">
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-select_container">
                                                            <select class="FieldNameUpdateInner slds-select"
                                                                onchange={handleInnerFieldSelected}>
                                                                <option value={item.fieldName}>{item.fieldName}</option>
                                                                <template for:each={fieldsList} for:item="item2">
                                                                    <option key={item2.value} value={item2.value}>
                                                                        {item2.label}
                                                                    </option>
                                                                </template>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-form-element__control">
                                                        <input type="text" class="slds-input ValueUpdateInner"
                                                            value={item.displayedValue} />
                                                    </div>
                                                </td>
                                                <td class="slds-text-align_right" role="gridcell" tabindex="0">
                                                    <lightning-button-icon data-item={i}
                                                        onclick={handleConfirmFieldUpdateEdit} icon-name="utility:check"
                                                        size="small" alternative-text="Confirm"
                                                        class="slds-m-left_xx-small"></lightning-button-icon>
                                                    <lightning-button-icon data-item={i} onclick={handleCancelEdit}
                                                        icon-name="utility:close" size="small" alternative-text="Cancel"
                                                        class="slds-m-left_xx-small"></lightning-button-icon>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-col slds-m-top_small " style="height: 30vh">
            
            <lightning-spinner size="medium" variant="brand" if:true={loadingLogs}>
            </lightning-spinner>
            <div class='slds-card'>
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <span>Logs</span>
                            </h2>
                        </div>
                        <div class="slds-no-flex">
                            <lightning-button-icon class="slds-float--right" icon-name="utility:refresh" variant="brand"
                                onclick={handleRefreshLogs} alternative-text={Label.LBL_Add}></lightning-button-icon>
                        </div>
                    </header>
                </div>
                <div class="slds-scrollable" style={tableStyleHeight}>
                    <table class="slds-table slds-no-row-hover slds-table_bordered slds-table--fixed-layout">
                        <thead class="slds-table--col-bordered">
                            <tr>
                                <th class="slds-p-around_small" style="width: 2rem;"></th>
                                <th class="slds-p-around_small">{Label.LBL_Operation}</th>
                                <th class="slds-p-around_small">log</th>
                                <th class="slds-p-around_small">{Label.LogLabels.ApexJobId}</th>
                                <th class="slds-p-around_small">{Label.LogLabels.TotalJobItems}</th>
                                <th class="slds-p-around_small">{Label.LogLabels.JobItemsProcessed}</th>
                                <th class="slds-p-around_small">{Label.LogLabels.Status}</th>
                                <th class="slds-p-around_small">{Label.LogLabels.NumberOfErrors}</th>
                                <th class="slds-p-around_small">{Label.LogLabels.NumberOfWarnings}</th>
                                <th class="slds-p-around_small">{Label.LBL_Progress}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={runningBatches} for:item="batch" for:index="i">
                                <tr key={batch.batchId}>
                                    <td>{i}</td>
                                    <td class="slds-align_absolute-center">
                                        <lightning-icon size="xx-small" class="slds-m-right_small" icon-name={batch.operationIcon}>
                                        </lightning-icon>
                                        <!-- {batch.operation}  -->
                                    </td>
                                    <td>
                                        <span if:true={batch.log}>
                                            <lightning-tile label={batch.log.Name} href={batch.log.url}>
                                            </lightning-tile>
                                        </span>
                                    </td>
                                    <td class="slds-truncate">{batch.batchId}</td>
                                    <td><span>{batch.TotalJobItems}</span></td>
                                    <td><span>{batch.JobItemsProcessed}</span></td>
                                    <td>{batch.status}</td>
                                    <td><span if:true={batch.log}>{batch.log.ULiT_Negoptim__NumberOfErrors__c}</span></td>
                                    <td><span if:true={batch.log}>{batch.log.ULiT_Negoptim__NumberOfWarnings__c}</span></td>
                                    <td>
                                        <lightning-progress-bar value={batch.progress} size="large">
                                        </lightning-progress-bar>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>