<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <a href="#" class="slds-card__header-link slds-truncate" title="Flows Management">
                            <span>Flows Control Panel</span>
                        </a>
                    </h2>
                </div>
            </header>
        </div>
        <lightning-combobox class="slds-m-around--medium slds-size--2-of-8" label="Objects" options={objectNameOptions}
            value={selectedObject} onchange={handleChangeObject}>
        </lightning-combobox>
        <div class="slds-card__body slds-card__body_inner slds-scrollable" style="height: 300px;">
            <template if:true={loading}>
                <lightning-spinner size="medium" variant="brand"></lightning-spinner>
            </template>
            <table
                class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-border--right slds-border--left">
                <thead>
                    <tr>
                        <td class="fixedHeader">MasterLabel</td>
                        <td class="fixedHeader">VersionNumber</td>
                        <td class="fixedHeader">ProcessType</td>
                        <td class="fixedHeader">object Name</td>
                        <td class="fixedHeader">isActive</td>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={flowData} for:item="flow">
                        <tr key={flow.Id}>
                            <td>{flow.MasterLabel}</td>
                            <td>{flow.VersionNumber}</td>
                            <td>{flow.ProcessType}</td>
                            <td>{flow.objectName}</td>
                            <td>
                                <lightning-input data-id={flow.Id} type="toggle" label="" data-form={flow.Id} checked={flow.isActive} onchange={disableFlow}></lightning-input>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </article>
</template>