<template>
    <article class="slds-card slds-card_boundary">
        <template if:true={globalLoading}>
            <lightning-spinner>
            </lightning-spinner>
        </template>
        <lightning-input type="file" label="Attachments" onchange={handleFilesSelected}></lightning-input>
    </article>
</template>