<template>
    <article class="slds-card slds-card_boundary">
        <template if:true={globalLoading}>
            <lightning-spinner>
            </lightning-spinner>
        </template>
        <div class="slds-card__header slds-grid slds-m-bottom_none">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
              <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                    <span>{labels.LBL_Contract_Document_Uploader_Title}</span>
                </h2>
              </div>
            </header>
        </div>
        <div class="slds-m-horizontal_small slds-m-bottom_medium">
            <lightning-file-upload
                variant='label-hidden'
                name="fileUploader"
                record-id={recordId}
                onuploadfinished={handleUploadFinished}
                multiple>
            </lightning-file-upload>
        </div>
    </article>
</template>