<apex:page standardController="ULiT_Negoptim__Price_List_Statement__c" showHeader="true" extensions="PowerBIController_V2" action="{!redirectOnCallback}">
    <html class="slds-scope">
        <head>
            <apex:includeScript value="{!$Resource.PBIJS}"/>
            <apex:slds />
        </head>
        <apex:form >
            <apex:actionFunction name="refreshAccessToken" action="{!refreshAccessToken}"/>
        </apex:form>
        <apex:outputPanel layout="block" styleClass="{!IF(currentRecordId == null, 'slds-m-around_small', '')}">
            <apex:outputPanel rendered="{!NOT(hasToken)}"><a href='{!authUrl}'>Login</a></apex:outputPanel>
            <!--<apex:outputPanel rendered="{!hasToken}">Already has token</apex:outputPanel>-->
            
            <apex:outputPanel rendered="{!currentRecordId == null}" layout="block" >
                <div class="slds-page-header" id="pageHeader">
                    <!-- LAYOUT GRID -->
                    <div class="slds-grid ">
                        <!-- GRID COL -->
                        <div class="slds-col slds-has-flexi-truncate ">
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__figure">
                                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-orders"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use
                                             xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#orders">
                                        </use>
                                    </svg>
                                </div>
                                <div class="slds-media__body">
                                    <p class="slds-line-height_reset">
                                        <apex:outputText value="Power BI" />
                                    </p>
                                    <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncoate"
                                        title="To Pilot Management">
                                        <apex:outputText value="Report" />
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <apex:outputPanel rendered="{!NOT(hasToken)}"><a href='{!authUrl}'>Login</a></apex:outputPanel>
                            <apex:outputPanel styleclass="slds-badge" rendered="{!hasToken}">Already has token</apex:outputPanel>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
            <apex:outputPanel layout="block" styleClass="reportBIMP" style="height:{!IF(currentRecordId!=null, '400px', '800px')}"></apex:outputPanel>
            <apex:outputPanel rendered="{!currentRecordId!=null}">
                <a href="https://negoptim-mousquetaires--sandbox1--c.visualforce.com/apex/PowerBITestPage?nsCode={!nsCode}" target="_blank" >View Full Report</a>
            </apex:outputPanel>
        </apex:outputPanel>
        <script>
        let accessToken = '{!PBIaccess_token}';
        let refreshToken = '{!PBIrefresh_token}';
        let expires_on = '{!PBIexpires_on}';
        let validateResult = '{!validateResult}';
        let selectedReport = '26fbebe9-cbd4-4b21-a28a-94cf325b2623';
        let page = 'ReportSection5748128e1550e5740beb';
        var report;
        var pages;
        var visuals;
        let recordId = `{!currentRecordId}`;
        window.onload = function() {
            try {
                console.log(accessToken);
                if(window.location.href.includes('code='))
                {
                    window.close();
                    window.opener.location.reload();
                }

                let expiresOn = parseInt(expires_on);
                let currentTime = Date.now()/1000;
                
                if(expiresOn <= currentTime || !accessToken)
                { 
                    var loginWindow = window.open('{!authUrl}','Login','width=250,height=900,0,status=0');
                } else if((expiresOn - 2000) <= currentTime)
                {
                    refreshAccessToken();
                }
                let target = {
                    table: "Articles",
                    column: "NUM_ACC_FRNS"
                };
                let MyFilter = [];
                MyFilter.push({
                    $schema: "http://powerbi.com/product/schema#basic",
                    target: target,
                    operator:"In",
                    ////values: ['MN-00000010']
                    values: [`{!nsCode}`]
                });
                let slicers = [
                    {
                        selector: {
                            $schema: "http://powerbi.com/product/schema#slicerTargetSelector",
                            target: target 
                        },
                        state: {
                            filters: MyFilter
                        }
                    }
                ];
                        
                powerbi.accessToken = '{!PBIaccess_token}';
                var element = document.getElementsByClassName('reportBIMP')[0];
                var embedConfiguration;
                if(recordId) { // CASE1: DISPLAY THE VISUAL WITHOUT SLICERS EFFECT
                    embedConfiguration = {
                        settings: {
                            panes: {
                                syncSlicers: {
                                    visible: false
                                },
                            }
                        },
                        accessToken: accessToken,
                        embedUrl: 'https://app.powerbi.com/reportEmbed',
                        id: selectedReport,
                        pageName: page,
                        visualName: "b8a72dfe4c0b7a0cd0b1",
                        type: 'visual',
                        filters: MyFilter,
                        slicers: slicers
                    };
                } else { // CASE1: DISPLAY THE TOTAL REPORT WITH THE EXISTING FILTERS AND SLICERS
                    embedConfiguration = {
                        settings: {
                            panes: {
                                syncSlicers: {
                                    visible: false
                                },
                            }
                        },
                        accessToken: accessToken,
                        embedUrl: 'https://app.powerbi.com/reportEmbed',
                        id: selectedReport,
                        pageName: 'ReportSection5748128e1550e5740beb',
                        //visualName: "b8a72dfe4c0b7a0cd0b1",
                        type: 'report',
                        filters: MyFilter,
                        slicers: slicers,
                    };
                }
                window.report = powerbi.embed(element, embedConfiguration);
                /*if(!recordId){
                    report.on('loaded', function (event) {
                        report.getPages().then(pages => {
                            activePage = pages[1];
                            activePage.getVisuals().then(visuals => {
                            for(let visual of visuals){
                            if (visual.type === 'slicer') {
                            console.log(visual.getSlicerState());
                            visual.setSlicerState({ 'filters': [] }).then(()=>{console.log(visual.getSlicerState());})
                    }
                              }
                              });
                });
            });
        }*/
                //report.updateFilters(1, MyFilter, 2);
                //window.filters = report.getFilters();
                // report.getPages().then(items=>{ console.log('promise pages'); pages= items; items[1].getVisuals().then(visualItems=> { console.log('promise visuals'); visuals = visualItems;})});
            } catch(error){  
                console.log(error);
            }
        }
        window.onbeforeclose = function()
        {
            window.opener.update(window.location.href);
        }
        
        </script>
    </html>
    
</apex:page>